# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.tsbuildinfo
.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist
/storybook-static

# misc
/coverage
.DS_Store
*.log

.env*
*.tgz
